h1 {
    padding-left: 70px;
}

ol {

}

span {
    color: firebrick;
    text-transform: capitalize;
}

.TodoList {
    text-align: left;
}

.text {
    display: inline-block;
    padding: 0 15px;
}

.delete {

}

.btnTL {
    padding-left: 50px;
}

.btnTL button {
    margin-left: 20px;
}

.isdone {
    opacity: 0.5;
}
