.btnTL {
    padding-left: 50px;
}

/*.btnTL button {*/
/*    margin-left: 20px;*/
/*}*/
/*.activeFilter {*/
/*    background-color: aquamarine;*/
/*}*/

.button{

    background-color: lightgray;
    border: none;
    border-radius: 5px;
    padding: 10px;

}
.deletButton{
    border: red solid 1px;
    border-radius: 5px;
}
/*.activeFilter {*/
/*    background-color: aquamarine;*/
/*}*/